Repository h-yoshikawa44/ch-random-quote: changes, and which lefthook commands are due for each by the changed paths.
All: html-fixer, css-fixer, formatter

html-fixer:
  run: 'npx markuplint --fix --problem-only {staged_files}
  
    npx prettier --write --log-level=error {staged_files}
  
    '
  stage_fixed: true
  skip:
  - merge

css-fixer:
  run: 'npx stylelint --fix --quiet {staged_files}
  
    npx prettier --write --log-level=error {staged_files}
  
    '
  stage_fixed: true
  skip:
  - merge

formatter:
  run: npx prettier --write --log-level=error {staged_files}
  stage_fixed: true
  skip:
  - merge

settings: Issue番号抽出のGitHooks設定(#1)
  .gitmessage
  .lefthook/prepare-commit-msg/extraction-issue-number
  lefthook.yml
Due: none

settings: 開発用GHA作成(#1)
  .github/workflows/develop.yml
Due: formatter

docs: READMEの初期テンプレ作成(#1)
  README.md
Due: none

settings: ESLintの設定(#1)
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  lefthook.yml
  package-lock.json
  package.json
Due: formatter

settings: eslint-config-standardからneostandardへ移行(#1)
  eslint.config.js
  package-lock.json
  package.json
Due: none

settings: GHAのステップ名を汎用的にした(#1)
  .github/workflows/develop.yml
Due: formatter

fix: npm run fix(#1)
  js/main.js
Due: none

settings: prettierの動作対象にjsとymlを追加(#1)
  package.json
Due: none

fix: 再度npm run fix(#1)
  css/reset.css
  vite.config.js
Due: css-fixer

feat: 素材SVGの追加(#3)
  images/Regroup.svg
  images/bg-image-random-quote.svg
  images/link.svg
Due: none

feat: カラーマップ作成、Webフォント導入(#3)
  css/style.css
  index.html
Due: html-fixer, css-fixer

feat: UIをざっと組んだやつ(#3)
  css/style.css
  index.html
Due: html-fixer, css-fixer

settings: PRテンプレファイル置き場を間違えていたので直した(#3)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

settings: ESLintのルールを調整(#5)
  eslint.config.js
Due: none

feat: アクションボタンのアクティブスタイルと、コピーボタンのロジック作成(#5)
  css/style.css
  index.html
  js/copy.js
  js/main.js
Due: html-fixer, css-fixer

settings: ブロック括弧位置に関するESLintルールの調整(#5)
  eslint.config.js
Due: none

feat: ランダムな引用文を表示する機能の追加(#5)
  index.html
  js/main.js
  js/quote.js
  js/quoteApi.js
Due: html-fixer

feat: アクションボタンにtitle属性を付与(#5)
  index.html
Due: html-fixer

feat: 初回ローディング中表示の制御を入れた(#5)
  css/style.css
  index.html
  js/quote.js
Due: html-fixer, css-fixer

fix: Prettierによりおかしな改行？をしていたので直した(#5)
  index.html
Due: html-fixer

feat: gh-pagesパッケージの導入(#7)
  package-lock.json
  package.json
Due: none

settings: デプロイ用GHA作成(#7)
  .github/workflows/production.yml
Due: formatter

Updates
  assets/index-CqGzTeqO.css
  assets/index-DPpbypHT.js
  favicon.ico
  index.html
Due: html-fixer

misc: スクショ記録(#7)
  screenshots/desktop.png
  screenshots/mobile.png
Due: none

docs: 課題公開に合わせてREADME更新(#7)
  README.md
Due: none

viewportの設定を間違って消していたので復元
  index.html
Due: html-fixer

fix: 画面幅375px時の左右余白を調整して見た目の改善(#9)
  css/style.css
Due: css-fixer

fix: 引用カード背景画像の位置調整(#9)
  css/style.css
Due: css-fixer

Merge pull request #10 from h-yoshikawa44/feature/9_fix-style
  assets/index-B-XJJbJE.css
  assets/index-CgXGNBho.js
  assets/index-CqGzTeqO.css
  index.html
Due: html-fixer

settings: MarkupLintの設定ファイル名ミスをしていたのでリネーム(#11)
  .markuplintrc.mjs
Due: none

fix: MarkupLintの沿い、&を実態参照にした(#11)
  index.html
Due: html-fixer

Merge pull request #12 from h-yoshikawa44/feature/11_fix-markuplint
  index.html
Due: html-fixer

settings: Issueテンプレからタイトルはなくした(#14)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
Due: none

update: Node.jsのアプデ 20.16.0 -> 24.14.1 + バージョン管理をmiseへ移行(#14)
  .node-version
  README.md
  mise.toml
  package.json
Due: none

update: LightningCSS系のアプデ(#14)
  package-lock.json
  package.json
Due: none

update: Viteのアプデ 5.0.0 -> 8.0.3(#14)
  package-lock.json
  package.json
Due: none

update: Markuplintのアプデ 4.9.2 -> 4.14.1 + 設定更新(#14)
  .markuplintrc.mjs
  package-lock.json
  package.json
Due: none

update: Prettierのアプデ 3.3.3 -> 3.8.1(#14)
  package-lock.json
  package.json
Due: none

Path conditions:
  html-fixer: any of: *.html
  css-fixer: any of: css/*.css
  formatter: any of: **/*.{json,yml}
