Repository h-yoshikawa44/ch-random-quote: changes, and which lefthook commands are due for each by the changed paths.
All: html-fixer, css-fixer, formatter

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    html-fixer:
      glob: '*.html'
      run: |
        npx markuplint --fix --problem-only {staged_files}
        npx prettier --write --log-level=error {staged_files}
      # デフォルトではコマンド実行後の差分を stage に上げてくれないので上げるようにする
      stage_fixed: true
      skip:
        - merge
    css-fixer:
      glob: 'css/*.css'
      run: |
        npx stylelint --fix --quiet {staged_files}
        npx prettier --write --log-level=error {staged_files}
      stage_fixed: true
      skip:
        - merge
    formatter:
      glob: '**/*.{json,yml}'
      run: npx prettier --write --log-level=error {staged_files}
      stage_fixed: true
      skip:
        - merge

update: StyleLint系のアプデ(#14)
  css/reset.css
  css/style.css
  package-lock.json
  package.json
Due: css-fixer

update: ESLint系のアプデ + 設定更新(#14)
  eslint.config.js
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

update: gh-pagesのアプデ 6.1.1 -> 6.3.0(#14)
  package-lock.json
  package.json
Due: none

update: Lefthookのアプデ 1.7.13 -> 2.1.4(#14)
  package-lock.json
  package.json
Due: none

settings: GHAのアクションを最新化 + safe-chain導入(#14)
  .github/workflows/develop.yml
  .github/workflows/production.yml
Due: formatter

Merge pull request #15 from h-yoshikawa44/feature/14_lib-update
  assets/index--OuvTwAz.css
  assets/index-B-XJJbJE.css
  assets/index-BguOPHar.js
  assets/index-CgXGNBho.js
  index.html
Due: html-fixer

feat: 使用するAPIをQuoteSlate APIへ移行(#16)
  README.md
  js/quote.js
  js/quoteApi.js
Due: none

Merge pull request #17 from h-yoshikawa44/feature/16_migrate-api
  assets/index-0b9sK27_.js
  assets/index-BguOPHar.js
  index.html
Due: html-fixer
